# https://yazi-rs.github.io/docs/configuration/yazi

[mgr]
ratio = [1, 4, 3]
sort_by = "natural"
sort_sensitive = false
sort_dir_first = true
linemode = "size"
show_hidden = false
show_symlink = true
scrolloff = 5
title_format = "Yazi: {cwd}"

[preview]
wrap = "no"
tab_size = 2
max_width = 600
max_height = 900
image_filter = "lanczos3"
image_quality = 75

[opener]
edit = [
	{ run = "${EDITOR:-nvim} \"$@\"", block = true, for = "unix" },
]
open = [
	{ run = "open \"$@\"", desc = "Open", for = "macos" },
]
extract = [
	{ run = "ya pub extract --list \"$@\"", desc = "Extract here" },
]
